.expandBlock {
    z-index: 9000 !important;
    right: 0;
    width: 300px;
    height: auto;
    border-radius: 20px;
    background-color: #161823;
    position: absolute;
    display: none;
    transform: translate(310px);
}

.expandBlock::before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 20px; 
    padding: 2px; 
    background:linear-gradient(90deg,#4757e370,#5b2bdf70); 
    -webkit-mask: 
       linear-gradient(#fff 0 0) content-box, 
       linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
            mask-composite: exclude; 
  }

.expand {
    display:block !important;
}

.contentContainer{
    position: relative;
    top: 20px;
    margin-left: 15px;
}

.headingText{
    color: white !important;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 30px;
    margin-bottom: 1px;
    line-height: 20px;
}

.tableWrapper{
    margin-top: 20px;
    margin-left: 15px;
    padding-right: 20px;
    width: 100%;
    position: relative;
    overflow: hidden;
}

.stateText{
    color: #2FDBA7;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    line-height: 10px;
    font-size: 13px;
}


table {
    left: 0;
    border-spacing: 0 8px;
    border-collapse: separate;
    display: block;
    margin-top: 30px;
    margin-left: 15px;
    table-layout: fixed;
}

.break{
    overflow-wrap: break-word;
    max-width: 230px;
}

.firstTd{
    width: 100px;
}

table tr td{
    overflow-wrap: break-word;
    max-width: 230px;
    
}

table td{
    word-wrap: break-word;         /* All browsers since IE 5.5+ */
    overflow-wrap: break-word;
}


.p{
    padding-top: 10px;
}


.expSecond{
    padding-left: 40px;
}

.expThird{
    padding-left: 40px;
}

.stateSecond{
    padding-left: 0px;
    line-height: 15px;
}

.second{
    padding-left: 40px;
    line-height: 15px;
}

.firstText{
    color: white;
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
    font-size: 16px;
}

.secondText{
    color: white;
    font-family: 'Rubik', sans-serif;
    font-weight: 300;
    font-size: 16 px;
}