<div class="canvas-container d-flex " [routerLink]="['/container', id]">
    <div class="myRect"></div>
    <div class="container-fluid">
        <div class="row h-100">
            <div class="col-6">
                <div class="textWrapper">
                    <p class="headingText">{{name}}</p>
                    <p class="subText text-start">{{id}}</p>
                </div>
            </div>
            <div class="col-md-3">
                <p class="imageText">{{image}}</p>
            </div>
            <div class="col-2">
                <!-- <p class="stateText" [ngStyle]="{'color': stateColor}">{{state}}</p> -->
                <div class="svgContainer">
                    <img src="{{state}}" alt="" title="{{stateName}}">
                </div>
            </div>
        </div>
    </div>
</div>
