<nav class="navbar sidebar fixed-left justify-content-center">
    <ul class="navbar-nav text-center d-flex align-items-center w-100">
        <li class="nav-item h-100 w-100" routerLink="">
                <a class="svg-item">
                    <div class="" routerLinkActive="activeBox" [routerLinkActiveOptions]="{exact: true}">
                        <svg xmlns="http://www.w3.org/2000/svg" height="35" fill="none" viewBox="0 0 24 24" stroke-width="1.25"
                            class="w-6 h-6 svg-content">
                            <path stroke-linecap="round" stroke-linejoin="round"
                                d="M2.25 12l8.954-8.955c.44-.439 1.152-.439 1.591 0L21.75 12M4.5 9.75v10.125c0 .621.504 1.125 1.125 1.125H9.75v-4.875c0-.621.504-1.125 1.125-1.125h2.25c.621 0 1.125.504 1.125 1.125V21h4.125c.621 0 1.125-.504 1.125-1.125V9.75M8.25 21h8.25" />
                        </svg>
                    </div>
                </a>
        </li>
        <li class="nav-item h-100 w-100 active" routerLink="containers">
            <a class="svg-item">
                <div class="" routerLinkActive="activeBox">
                    <svg xmlns="http://www.w3.org/2000/svg" height="35" fill="none" viewBox="0 0 24 24" stroke-width="1.25"
                        class="w-6 h-6">
                        <path stroke-linecap="round" stroke-linejoin="round"
                            d="M21 7.5l-2.25-1.313M21 7.5v2.25m0-2.25l-2.25 1.313M3 7.5l2.25-1.313M3 7.5l2.25 1.313M3 7.5v2.25m9 3l2.25-1.313M12 12.75l-2.25-1.313M12 12.75V15m0 6.75l2.25-1.313M12 21.75V19.5m0 2.25l-2.25-1.313m0-16.875L12 2.25l2.25 1.313M21 14.25v2.25l-2.25 1.313m-13.5 0L3 16.5v-2.25" />
                    </svg>
                </div>
            </a>
        </li>
        <li class="nav-item h-100 w-100">
            <a>
                <svg xmlns="http://www.w3.org/2000/svg" height="35" fill="none" viewBox="0 0 24 24" stroke-width="1.25"
                    stroke="white" class="w-6 h-6">
                    <path stroke-linecap="round" stroke-linejoin="round"
                        d="M14.857 17.082a23.848 23.848 0 005.454-1.31A8.967 8.967 0 0118 9.75v-.7V9A6 6 0 006 9v.75a8.967 8.967 0 01-2.312 6.022c1.733.64 3.56 1.085 5.455 1.31m5.714 0a24.255 24.255 0 01-5.714 0m5.714 0a3 3 0 11-5.714 0" />
                </svg>
            </a>
        </li>
    </ul>
</nav>
