.sidebar{
    position: relative;
    background: var(--sidebarColor);
    left: 0;
    width: 90px;
    height: 100vh;
}

#group{
    position: absolute;
    display: inline-block;
    bottom: 15px;
}

.sidebar.fixed-left{
    position: fixed;
    top: 0;
}

.svg-item{
    stroke: white;
}

.nav-item{
    padding: 12px;
}

li img{
    margin-left: -10px;
    transition: transform .2s;
    transition-timing-function: ease-in-out;
    cursor: pointer;
    color: #D7D7D7;
}

.activeSvg{
    stroke: rgb(80, 106, 221) !important;
    stroke-opacity: 2;
    stroke-width: 2;
}


svg{
    margin-left: -10px;
    transition: transform .1s;
    transition-timing-function: ease-in-out;
    cursor: pointer;
    stroke: #C3C3C3;
}

svg:hover{
    transform: scale(1.05);
}

li {
    position: relative;
    border-radius: 30px 0 0 30px;
}

ul{
    padding-left: 10px
}


#nav{
    height: 35px !important;
}

#color{
    height: 15px !important;
}

/* li:hover{
    background: #171825;
}

li:hover:after,
li:hover:before {
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    right: 0px;
}

li:hover:after{
    top: -25px;
    background: -webkit-radial-gradient(
        top left,
        circle,
        transparent 70%,
        #171825 71%
      );
    height: 25px;
    width: 25px;
}

li:hover:before{
    bottom: -25px;
    background: -webkit-radial-gradient(
        bottom left,
        circle,
        transparent 70%,
        #171825 71%
      );
      height: 25px;
      width: 25px;
} */


li.active{
    background: #171825 !important;
    transition: top 300ms cubic-bezier(0.17, 0.04, 0.03, 0.94);
}

li.active:after,
li.active:before{
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    right: 0px; 
}

li.active:after{
    top: -25px;
    background: -webkit-radial-gradient(
        top left,
        circle,
        transparent 70%,
        #171825 71%
      );
    height: 25px;
    width: 25px;
}

li.active:before{
    bottom: -25px;
    background: -webkit-radial-gradient(
        bottom left,
        circle,
        transparent 70%,
        #171825 71%
      );
      height: 25px;
      width: 25px; 
}

