<nav class="navbar sidebar fixed-left justify-content-center">
    <ul class="navbar-nav d-flex w-100">
        <li class="nav-item h-100 w-100" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
            <img src="../../../assets/homeicon.svg" alt="">
        </li>
        <li class="nav-item h-100 w-100" routerLink="./containers" routerLinkActive="active">
            <img src="../../../assets/containericon.svg" alt="">
        </li>
        <li class="nav-item h-100 w-100">
            <img src="../../../assets/alerticon.svg" alt="">
        </li>
    </ul>
</nav>
