.flex-column{
    margin-right: auto;
    margin-left: auto;
    width: 300px;
}

#myCanvas{
     margin-bottom: 20px; 
}

.wrapper{
    height: 100%;
    flex: 0 0 auto;
    position: relative;
    background: #24263a;
    /* background: linear-gradient(90deg, rgba(39,41,54,1) 0%, rgb(30, 31, 41) 100%); */
    -webkit-box-shadow: 0 .125rem .875rem 0 rgba(0,0,0,.16); 
    box-shadow: 0 .125rem .875rem 0 rgba(0,0,0,.16);
    background-clip: padding-box;
    border-radius: 10px;
}

.globalWrapper{
    height: var(--unitheight) !important;
    margin-bottom: var(--unitmargin);
    transition: all .2s ease-in-out;
}

.globalWrapper:hover{
    transform: scale(1.01);
}

.chart-heading{
    height: 30px;
    color: white !important;
    margin-left: 0;
    margin-bottom: 0px !important;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 700;
    font-size: 20px;
}