.flex-column{
    margin-right: auto;
    margin-left: auto;
    width: 300px;
}

#myCanvas{
    margin-bottom: 20px; 
}

.noDataWrapper{
    width: 30px;
    height: 30px;

}

.wrapper{
    height: 85% !important;
    flex: 0 0 auto;
    position: relative;
    /* background: linear-gradient(90deg, rgba(39,41,54,1) 0%, rgb(30, 31, 41) 100%); */
   /*  -webkit-box-shadow: 0 .125rem .875rem 0 rgba(0,0,0,.16); 
    box-shadow: 0 .125rem .875rem 0 rgba(0,0,0,.16); */
}

.globalWrapper{
    /* height: calc(var(--unitheight) + 10px) !important; */
    position: relative;
    min-height: calc((var(--widgetHeight) * 1.5) + calc(var(--unitmargin) / 2));
    height: calc((var(--widgetHeightR) * 1.5) + calc(var(--unitmargin) / 2));
    width: 100% !important;
    margin-bottom: var(--unitmargin);
    transition: all .2s ease-in-out;
    background: var(--graphBgColor);
    box-shadow: 0px 7px 10px 0px rgba(0,0,0,0.2);
    border-radius: 20px;
}

.globalWrapper::before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 20px; 
    padding: 2px; 
    background:linear-gradient(90deg,#24252770,#35323d70); 
    -webkit-mask: 
       linear-gradient(#fff 0 0) content-box, 
       linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
            mask-composite: exclude; 
  }

.globalWrapper2{
    width: calc(100% + 1.5rem);
    /* height: calc(var(--unitheight) + 10px) !important; */
    height: calc((var(--widgetHeight) * 1.5) + calc(var(--unitmargin) / 2));
    margin-bottom: var(--unitmargin);
    transition: all .2s ease-in-out;
    background: #1E202D;
    border-radius: 20px;
}

.globalWrapper:hover{
    transform: scale(1.01);
}

/* .chart-heading{
    height: 30px;
    color: white !important;
    margin-left: 0;
    margin-bottom: 0px !important;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 600;
    font-size: 20px;
} */

.header{
    position: relative;
    top: 2px;
    left: 2px;
    width: 98%;
    height: 40px;
    border-radius: 20px;
    background: var(--graphBgColor);
    vertical-align: middle;
}

.settings{
    position: absolute;
    margin-right: 10px;
    top: 50%;
    transform: translate(0, -50%);
    right: 0;
}

.headerText{
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    margin-left: 10px;
    /* top: 50% !important;
    transform: translate(0, -50%) !important; */
    margin-bottom: 0 !important;
    color: rgba(206, 206, 206, 0.788) !important;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 18px;
    letter-spacing: 1px;
}

