.loc{
    margin-top: 100px;
    background-color: var(--background-color);
    margin-bottom: 80px;
}

.brand{
    font-family: 'Rubik', sans-serif;
    font-size: 30px;
    font-weight: 500;
    color: white;
}

.brandContainerName{
    font-family: 'Rubik', sans-serif;
    font-size: 30px;
    font-weight: 400;
    color: white;
    margin-left: -1.2% !important;
}

.brandContainerState{
    font-family: 'Rubik', sans-serif;
    font-size: 30px;
    font-weight: 300;
    margin-left: -1.2% !important;
}

.navbar-right {
    float: right;
    padding-right: 15px;
}
.nav.navbar-nav.navbar-right li {
    float: right;
}
.nav.navbar-nav.navbar-right li > a {
    padding:8px 5px;
}