.title{
    font-family: 'Quicksand', sans-serif;
    font-size: 30px;
    font-weight: 600;
    letter-spacing: 0.5px;
    line-height: 0px;
    color: rgba(255, 255, 255, 0.9);
    margin-bottom: 5px;
}

.svgWrapper{
    width: 20px;
    height: 20px;
    display: inline-block;
}

.sticky-top{
    z-index: 500 !important;
}

.sub{
    font-family: 'Rubik', sans-serif;
    font-size: 20px;
    font-weight: 300;
    line-height: 0px;
    color: rgba(255, 255, 255, 0.75);
}



.wrapper{
    height: auto;
    background-color: #171825;
    margin-top: 70px;
    margin-bottom: 80px;
    margin-left: 1rem;
}