.text-color{
    color: white;
}

.name{
    color: white;
    margin-left: 5px;
}

.image{
    color: white;
    margin-left: 27%;
}

.state{
    color: white;
}

.port{
    color: white;
    margin-left: 30px;
}

.top{
    margin-top: 100px;
}

.rowTop{
    margin-top: 10px;
}