<div class="top"></div>
<div class="row">
    <div class="row justify-content-center" *ngIf="this.loadingService.loading.getValue()">
        <div class="col-6 mt-5">
            <app-loader></app-loader>
        </div>
    </div>
    <ng-container *ngIf="this.containers != undefined">
        <div class="col-6">
            <table>
                <thead>
                    <tr>
                        <td>&nbsp;</td>
                        <td>Name</td>
                        <td>Image</td>
                        <td>Ports</td>
                    </tr>
                </thead>
                <tbody>
                    <ng-container *ngFor="let container of this.containers">
                        <tr app-canvas [name]="container.name.substring(1)" [image]="container.image.tag"
                            [port]="container.ports[0]" [state]="container.state.status.toUpperCase()" [id]="container.id" (click)="this.navigateToContainer(container.id)"></tr>
                    </ng-container>
                    <!-- <tr app-canvas [name]="'monitoring_agent-mongo-1'" [image]="'mongooooooooooofgffffffffffffffff'" [port]="'N/A'"></tr> -->
                </tbody>
            </table>
        </div>
    </ng-container>
</div>
