.stat-heading{
    color: white !important;
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
    font-size: 30px;
}

.stat-variable{
    /* color: #448FFF !important; */
    background: rgb(68,143,255);
    background: linear-gradient(90deg, rgb(81, 48, 226) 0%, rgb(80, 100, 255) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
    font-size: 65px;
    margin-top: 1px !important;
}
