.logs{
    width: 100%;
    position: absolute;
    height: 100%;
}

.logText{
    /* bottom: 0; */
    font-family: 'Rubik', sans-serif;
    margin-top: 260px;
    font-size: 20px;
    color: white;
    font-weight: 400;
    display: inline-block;
}

.loader{
    position: absolute;
    height: 200px;
    top: 45%;
    text-align: center;
    display: inline-block;
    vertical-align: top;
}

.logBlock{
  margin-top: var(--textheight);
  /* margin-bottom: 30px; */
  text-align: center !important;
  margin-bottom: 0%;
  height: calc(var(--unitheight) * 2 + var(--unitmargin));
  width: 100%;
  position: relative;
  background: #24263a;
  /* background: linear-gradient(90deg, rgba(39,41,54,1) 0%, rgb(30, 31, 41) 100%); */
  -webkit-box-shadow: 0 .125rem .875rem 0 rgba(0,0,0,.16); 
  box-shadow: 0 .125rem .875rem 0 rgba(0,0,0,.16);
  border-radius: 20px;
  overflow:hidden;
}


  
  /*
    Set the color of the icon
  */
svg path,
svg rect{
    fill: #505CFA;
}