<ng-container *ngIf="this.aboutFetched.getValue() == true">
    <ng-container *ngIf="this.type == 'resources'">
        <div class="wrapper text-start">
            <div class="contentContainer">
                <div class="textWrapper">
                    <p class="headingText">Resources</p>
                    <span class="stateText">Resources</span>
                </div>
            </div>
            <div class="tableWrapper">
                <table>
                    <tr>
                        <td>
                            <span class="firstText">CPU Cores</span>
                        </td>
                        <td class="second">
                            <span class="secondText">{{this.about.cups}}</span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span class="firstText">Max. Memory</span>
                        </td>
                        <td class="second">
                            <span class="secondText">{{this.about.max_mem_string}}</span>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </ng-container>
    <ng-container *ngIf="this.type == 'global'">
        <div class="wrapper text-start">
            <div class="contentContainer">
                <div class="textWrapper">
                    <p class="headingText">Global</p>
                    <span class="stateText">Global</span>
                </div>
            </div>
            <div class="tableWrapper">
                <table>
                    <tr>
                        <td>
                            <span class="firstText">Containers</span>
                        </td>
                        <td class="second">
                            <span class="secondText">{{this.about.container_n}}</span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span class="firstText">Images</span>
                        </td>
                        <td class="second">
                            <span class="secondText">{{this.about.image_n}}</span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span class="firstText">Volumes</span>
                        </td>
                        <td class="second">
                            <span class="secondText">{{this.about.volume_n}}</span>
                        </td>
                    </tr>
                </table>
            </div>

        </div>
    </ng-container>
    <ng-container *ngIf="this.type == 'docker'">
        <div class="wrapper text-start">
            <div class="contentContainer">
                <div class="textWrapper">
                    <p class="headingText">Docker</p>
                    <span class="stateText">Docker</span>
                </div>
            </div>
            <div class="tableWrapper">
                <table>
                    <tr>
                        <td>
                            <span class="firstText">Version</span>
                        </td>
                        <td class="second">
                            <span class="secondText">{{this.about.version}}</span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span class="firstText">API Version</span>
                        </td>
                        <td class="second">
                            <span class="secondText">{{this.about.api_version}}</span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span class="firstText">OS</span>
                        </td>
                        <td class="second">
                            <span class="secondText">{{this.about.os}}</span>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </ng-container>
</ng-container>