<div class="container-fluid h-100 text-center">
  <div class="header" *ngIf="authGuard.isAuthenticated()">
  </div>
  <div class="row h-100">
    <div class="col-md-1 sidebar h-100 sticky-top" *ngIf="authGuard.isAuthenticated()">
      <app-sidebar></app-sidebar>
    </div>
    <div class="col-10 column-offset" *ngIf="authGuard.isAuthenticated(); else elseBlock">
      <app-navbar></app-navbar>
      <router-outlet></router-outlet>
    </div>
    <ng-template #elseBlock>
      <div class="col-12 nopadding">
        <router-outlet></router-outlet>
      </div>
    </ng-template>
  </div>
  </div>