<div class="container-fluid h-100 text-center">
  <div class="header" *ngIf="authGuard.isAuthenticated()">
  </div>
  <ng-container *ngIf="authGuard.isAuthenticated(); else elseBlock">
    <app-alert></app-alert>
    <div class="row h-100">
      <div class="col-1">
        <app-sidebar-new></app-sidebar-new>
      </div>
      <div class="col-11">
        <!-- <div class="topBar">
          <span class="heading">MetaWatch</span>
        </div> -->
        <app-title></app-title>
        <router-outlet></router-outlet>
      </div>
    </div>
  </ng-container>
  <ng-template #elseBlock>
    <row class="h-100 d-block">
      <div class="col-12 nopadding">
        <router-outlet></router-outlet>
      </div>
    </row>
  </ng-template>
</div>