.border{
    border: solid;
}



.sidebar{
    background: var(--widgetColor);
    min-height: 100vh;
    box-shadow: 7px 6px 20px 0px rgba(0,0,0,0.2);
    -webkit-box-shadow: 7px 6px 20px 0px rgba(0,0,0,0.4);
    -moz-box-shadow: 7px 6px 20px 0px rgba(0,0,0,0.4);
}

@media (min-width: 992px){
    .column-offset{
        margin-left: 4%
    }
}

.flex{
    flex: 0 0
}

.fill{
    min-height: 100%;
    height: 100%;
}

.flex-column{
    margin-right: auto;
    margin-left: auto;
    width: 300;
}

.top{
    margin-top: 130px;
}
