.logo{
    margin-top: 130px;
    margin-bottom: 100px;
}

.nav-item{
    padding-top: 30px;
    transition: all .2s ease-in-out;
}

.nav-item:hover{
    transform: scale(1.1); 
}


.svg-item{
    stroke: white;
}

.active{
    stroke: #448FFF !important; 
}
