<div class="sticky-top">
    <div class="sidebar d-sm-none d-md-block fixed-left">
        <a href="/" class="d-inline-flex flex-column logo ">
            <svg xmlns="http://www.w3.org/2000/svg" width="48.663" height="41.774" viewBox="0 0 48.663 41.774">
                <g id="Gruppe_1315" data-name="Gruppe 1315" transform="translate(-3590.466 8941.596)">
                    <g id="g10" transform="translate(3590.466 -8941.596)">
                        <g id="g12" transform="translate(0)">
                            <g id="g18" transform="translate(0 24.199)">
                                <path id="path20"
                                    d="M1931.893-3694.207l-.043-.079L1924.3-3681.3h15.848l7.5-13v0l-.022-.04a8.986,8.986,0,0,0-7.856-4.534,8.961,8.961,0,0,0-7.361,3.777l-.011.017-.512.874"
                                    transform="translate(-1924.304 3698.874)" fill="#fff" />
                            </g>
                            <g id="g22" transform="translate(8.098 27.203)">
                                <path id="path24" d="M2393.255-3524.168l.441-.774-.455.791a.063.063,0,0,1,.014-.017"
                                    transform="translate(-2393.241 3524.943)" fill="#fff" />
                            </g>
                            <g id="g26" transform="translate(8.553 27.199)">
                                <path id="path28" d="M2419.588-3525.168l0,0s0,0,0,0v0"
                                    transform="translate(-2419.588 3525.172)" fill="#fff" />
                            </g>
                            <g id="g30" transform="translate(8.556 0)">
                                <path id="path32"
                                    d="M2452.226-5071.528l-.094.159-8.817-15.271-6.537-11.318-1.313-2.278,0,0-.012,0h0l-7.845,13.591-7.785,13.487c-.023.037-.046.073-.068.114v0s0,0,0,0c.1-.175.206-.341.313-.5l.034-.053q.175-.261.364-.506c.128-.164.262-.327.4-.479.068-.077.136-.153.208-.225s.14-.146.213-.217c.142-.142.29-.275.443-.406.077-.065.154-.132.234-.193a9.055,9.055,0,0,1,5.64-1.949,9.217,9.217,0,0,1,3.095.535s0,0,0,0a9.094,9.094,0,0,1,1.061.461,7.7,7.7,0,0,1,.762.438c.166.105.328.217.487.337a8.515,8.515,0,0,1,.694.57,8.841,8.841,0,0,1,1.146,1.277,8.618,8.618,0,0,1,.606.919l8.417,14.571h15.985l-7.634-13.066"
                                    transform="translate(-2419.752 5100.236)" fill="#fff" />
                            </g>
                        </g>
                    </g>
                </g>
            </svg>
        </a>
        <ul class="nav flex-column nav-pills">
            <li class="nav-item" routerLink="">
                    <a class="svg-item">
                        <div class="d-flex align-items-center justify-content-center" routerLinkActive="activeBox" [routerLinkActiveOptions]="{exact: true}">
                            <div class="" routerLinkActive="activeBoxLeft"></div>
                            <svg xmlns="http://www.w3.org/2000/svg" height="35" fill="none" viewBox="0 0 24 24" stroke-width="1.25"
                                class="w-6 h-6 svg-content">
                                <path stroke-linecap="round" stroke-linejoin="round"
                                    d="M2.25 12l8.954-8.955c.44-.439 1.152-.439 1.591 0L21.75 12M4.5 9.75v10.125c0 .621.504 1.125 1.125 1.125H9.75v-4.875c0-.621.504-1.125 1.125-1.125h2.25c.621 0 1.125.504 1.125 1.125V21h4.125c.621 0 1.125-.504 1.125-1.125V9.75M8.25 21h8.25" />
                            </svg>
                        </div>
                    </a>
            </li>
            <li href="#" class="nav-item" routerLink="containers">
                <a class="svg-item">
                    <div class="d-flex align-items-center justify-content-center" routerLinkActive="activeBox">
                        <div class="" routerLinkActive="activeBoxLeft"></div>
                        <svg xmlns="http://www.w3.org/2000/svg" height="35" fill="none" viewBox="0 0 24 24" stroke-width="1.25"
                            class="w-6 h-6">
                            <path stroke-linecap="round" stroke-linejoin="round"
                                d="M21 7.5l-2.25-1.313M21 7.5v2.25m0-2.25l-2.25 1.313M3 7.5l2.25-1.313M3 7.5l2.25 1.313M3 7.5v2.25m9 3l2.25-1.313M12 12.75l-2.25-1.313M12 12.75V15m0 6.75l2.25-1.313M12 21.75V19.5m0 2.25l-2.25-1.313m0-16.875L12 2.25l2.25 1.313M21 14.25v2.25l-2.25 1.313m-13.5 0L3 16.5v-2.25" />
                        </svg>
                    </div>
                </a>
            </li>
            <li class="nav-item">
                <a>
                    <svg xmlns="http://www.w3.org/2000/svg" height="35" fill="none" viewBox="0 0 24 24" stroke-width="1.25"
                        stroke="white" class="w-6 h-6">
                        <path stroke-linecap="round" stroke-linejoin="round"
                            d="M14.857 17.082a23.848 23.848 0 005.454-1.31A8.967 8.967 0 0118 9.75v-.7V9A6 6 0 006 9v.75a8.967 8.967 0 01-2.312 6.022c1.733.64 3.56 1.085 5.455 1.31m5.714 0a24.255 24.255 0 01-5.714 0m5.714 0a3 3 0 11-5.714 0" />
                    </svg>
                </a>
            </li>
            <li class="settings">
                <a>
                    <svg xmlns="http://www.w3.org/2000/svg" height="35" fill="none" viewBox="0 0 24 24" stroke-width="1.25"
                        stroke="white" class="w-6 h-6">
                        <path stroke-linecap="round" stroke-linejoin="round"
                            d="M14.857 17.082a23.848 23.848 0 005.454-1.31A8.967 8.967 0 0118 9.75v-.7V9A6 6 0 006 9v.75a8.967 8.967 0 01-2.312 6.022c1.733.64 3.56 1.085 5.455 1.31m5.714 0a24.255 24.255 0 01-5.714 0m5.714 0a3 3 0 11-5.714 0" />
                    </svg>
                </a>
            </li>
        </ul>
    
    </div>
</div>