<div class="background d-flex align-items-center justify-content-center">
    <div class="d-flex justify-content-center">
        <div class="loginBox">
            <div class="logo">
                <img src=".././assets/logo.svg" alt="">
            </div>
            <div class="container">
                <div class="row justify-content-center align-items-center">
                    <div class="col-md-12">
                        <div class="buttonBackground d-flex justify-content-center align-items-center">
                            <button type="button" class="btn btnSwitch" (click)="switchToLogin()" [ngClass]="register ? 'noactiveBtn' : 'activeBtn'">Login</button>
                            <button type="button" class="btn btnSwitch" (click)="switchToRegister()" [ngClass]="register ? 'activeBtn' : 'noactiveBtn'">Register</button>
                        </div>
                        <ng-container *ngIf="!register; else elseBlock">
                            <form class="box" #userlogin = "ngForm" (submit)="login(userlogin.value)">
                                <label for="user" class="text-start mtop">Mail</label>
                                <input [ngClass]="{'wrong' : wrongDetails}" type="text" name="user" id="user" ngModel>
                                <label for="pass" class="text-start topSecond">Password</label>
                                <input [ngClass]="{'wrong' : wrongDetails}" type="password" name="pass" id="pass" ngModel>
                                <button class="btn btnSubmit" type="submit">Login</button>
                            </form>
                        </ng-container>
                        <ng-template #elseBlock>
                            <div class="box">
                                <div class="forbidden">
                                    <img src=".././assets/forbidden.svg" alt="">
                                </div>
                                <p class="registerDisabledText">Registration disabled</p>
                                <p class="subText">Contact server administrator for further information</p>
                            </div>
                        </ng-template>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


