.loginBox{
    /* background-color: #1B1C30; */ /* #1B1C30 */
    border-radius: 10px;
    box-shadow: 0 .5rem 1rem 0 rgba(0,0,0,.3);
    height: 500px;
    width: 500px;
    position: relative;
    backdrop-filter: blur(11px) saturate(134%);
    -webkit-backdrop-filter: blur(11px) saturate(134%);
    background-color: rgba(17, 25, 40, 0.774);
    border: 1px solid rgba(255, 255, 255, 0.125);
    /* border-style: solid;
    border-width: 4px;
    border-color: #24253f; */
}

.logo{
    margin-top: 25px;
}

.buttonBackground{
    margin: 40px auto;
    margin-top: 25px;
    width: 300px;
    height: 50px;
    background: #121220;
    border-radius: 10px;
}


.forbidden{
    margin-top: 60px !important;
    width: 90px;
    height: 90px;
    margin: auto;
    display: block;
}

.registerDisabledText{
    margin-top: 5px;
    margin-bottom: 3px;
    color: white;
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
    font-size: 20px;
}

.subText{
    color: #8686aa;
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
    font-size: 15px;
}

.activeBtn{
    background-color: rgb(81, 48, 226);
    color: white;
    --bs-btn-color: white !important;
}


.heading{
    color: white;
    margin-top: 40px;
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
    font-size: 20px;
}

.beta{
    height: 30px;
    width: 100px;
    border-radius: 5px;
    border: 1px solid white;
    margin-top: 180px;
    top: 0;
    position: absolute;
}

.background{
    width: 100%;
    height: 100%;
    top: 0;
    background-color: #0f152c;
    background-image: 
        radial-gradient(at 50% 50%, rgb(22, 19, 66) 0, transparent 59%), /* hsl(255.23, 92%, 28.000000000000004%) */
        radial-gradient(at 80% 65%, hsl(263.01, 100%, 27%) 0, transparent 55%),
        radial-gradient(at 20% 65%, hsl(263.01, 100%, 27%) 0, transparent 55%);
}

.btnSwitch:hover{
    color: white;
}

.btnSwitch{
    border-radius: 10px !important;
    height: 40px !important;
    width: 145px !important;
    --bs-btn-color: rgba(255, 255, 255, 0.623) !important;
    --bs-btn-active-border-color: rgba(255, 255, 255, 0) !important;
}

.btnSubmit{
    margin-top: 40px;
    background-color: rgb(81, 48, 226);
    width: 100%;
    --bs-btn-color: white !important;
}

.box{
    top: 0 !important;
    margin: auto;
    width: 300px;
    display: block;
}

.box input[type="text"]{
    display: block;
    width: 100%;
    color: #9696b1;
    border-radius: 10px;
    padding: 8px;
    background: #121220;
    border: none;
    outline: 1px solid rgba(255, 255, 255, 0.125);

}

.box input[type="password"]:focus{
    outline: 2px solid rgb(81, 48, 226);

}

.box input[type="text"]:focus{
    outline: 2px solid rgb(81, 48, 226);

}

.wrong{
    outline: 2px solid rgb(214, 72, 72) !important;
}

.box input[type="password"]{
    display: block;
    width: 100%;
    color: #9696b1;
    border-radius: 10px;
    padding: 8px;
    background: #121220;
    border: none;
    outline: 1px solid rgba(255, 255, 255, 0.125);

}

.box label{
    font-size: 15px;
    margin-bottom: 3px;
    display: block;
    color: #8686aa;
}

.mtop{
    margin-top: 30px;
}

.topSecond{
    margin-top: 20px;
}


/* body {
    background-color: #0f152c;
    background-image: 
        radial-gradient(at 47% 33%, hsl(255.23, 92%, 28.000000000000004%) 0, transparent 59%), 
        radial-gradient(at 82% 65%, hsl(263.01, 100%, 27%) 0, transparent 55%);
}


.card {
    backdrop-filter: blur(11px) saturate(134%);
    -webkit-backdrop-filter: blur(11px) saturate(134%);
    background-color: rgba(17, 25, 40, 0.64);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);
}

 */