.top{
    margin-top: 50px;
}

.topStats{
    margin-top: 126px;
}

.heightContainer{
    height: calc(var(--unitheight) + var(--unitmargin)) !important;
}

.logBlock{
    /* margin-bottom: 30px; */
    margin-top: 35px;
    text-align: center !important;
    margin-bottom: 0%;
    height: 520px;
    width: 100%;
    position: relative;
    background-color: #272D3B;
    border-radius: 20px;
    overflow:hidden;
}