.top{
    margin-top: 100px;
}

.topStats{
    margin-top: 126px;
}

.heightContainer{
    height: 270px;
}

.logBlock{
    /* margin-bottom: 30px; */
    margin-top: 65px;
    text-align: center !important;
    margin-bottom: 0%;
    height: 600px;
    width: 100%;
    position: relative;
    background-color: #272D3B;
    border-radius: 20px;
    overflow:hidden;
}