
<ng-container *ngIf="this.loadingService.loading.getValue() && this.containerService.inMetricLoading == false; else elseBlock">
    <div class="container-fluid h-100">
        <div class="row h-75 align-items-center">
            <div class="col-12 d-flex justify-content-center">
                <app-loader></app-loader>
            </div>
        </div>
    </div>
</ng-container>
<ng-template #elseBlock>
    <ng-container *ngIf="this.container.state.status == 'RUNNING'; else elseOffline">
        <div class="row mh-100 gx-0 custom-gutter">
            <div class="col-4 flex-column">
                <app-chart [chartType]="'CPU'" [chartSubj]="chartSubj" [width]="'100%'" [cpu]="this.cpuHistory" [hidden]="this.metricsFetched.getValue() == false" [CID]="this.CID"></app-chart>
                <app-chart [chartType]="'MEMORY'" [chartSubj]="chartSubj" [width]="'100%'" [memory]="this.memoryHistory" [hidden]="this.metricsFetched.getValue() == false" [CID]="this.CID"></app-chart>
            </div>
            <div class="col-8">
                <div class="row">
                    <div class="col-12">
                        <div class="row gx-0 custom-gutter">
                            <div class="col-xxl-4 col-xl-6">
                                <app-newwidget [type]="'state'" [container]="this.container" [dataFetched]="this.dataFetched"></app-newwidget>
                            </div>
                            <div class="col-xxl-4 col-xl-6">
                                <app-newwidget [type]="'volumes'" [container]="this.container" [dataFetched]="this.dataFetched"></app-newwidget>
                            </div>
                            <div class="col-xxl-4 col-xl-6">
                                <app-newwidget [type]="'exposure'" [container]="this.container" [dataFetched]="this.dataFetched"></app-newwidget>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="row gx-0 custom-gutter">
                            <div class="col-4 flex-column"> <!-- <div class="col-4 flex-column me-4"> -->
                                <app-newwidget [type]="'network'" [container]="this.container" [dataFetched]="this.dataFetched"></app-newwidget>
                                <app-newwidget [type]="'images'" [container]="this.container" [dataFetched]="this.dataFetched"></app-newwidget>
                            </div>
                            <div class="col-8">
                                <app-logs [logSubj]="this.logSubj"></app-logs>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- <div class="row">
                    <div class="col-12">
                        <div class="row gx-0 custom-gutter">
                            <div class="col-4">
                                <app-smallwidget [type]="'images'" [container]="this.container" [dataFetched]="this.dataFetched"></app-smallwidget>
                            </div>
                        </div>
                    </div>
                </div> -->
            </div>
        </div>
        <div class="row gx-0 custom-gutter2">
            <div class="col-4">
                <app-chart [chartType]="'DISK'" [chartSubj]="chartSubj"></app-chart>
            </div>
            <div class="col-8">
                <app-chart [chartType]="'NETWORK'" [chartSubj]="chartSubj"></app-chart>
            </div>
        </div>
    </ng-container>
    <ng-template #elseOffline>
        <div class="container-fluid h-100">
            <div class="row h-75 align-items-center">
                <div class="col-12 d-flex justify-content-center">
                    <app-loader></app-loader>
                </div>
            </div>
        </div>
        <!-- <div class="row mh-100 gx-0 custom-gutter">
            <div class="col-4 flex-column">
                <app-chart [chartType]="'CPU'" [chartSubj]="chartSubj" [width]="'100%'" [offline]="true"></app-chart>
                <app-chart [chartType]="'MEMORY'" [chartSubj]="chartSubj" [width]="'100%'" [offline]="true"></app-chart>
            </div>
            <div class="col-8">
                <div class="row">
                    <div class="col-11">
                        <div class="row gx-0 custom-gutter">
                            <div class="col-4">
                                <app-smallwidget [type]="'state'" [container]="this.container" [dataFetched]="this.dataFetched"></app-smallwidget>
                            </div>
                            <div class="col-4">
                                <app-smallwidget [type]="'exposure'" [container]="this.container" [dataFetched]="this.dataFetched"></app-smallwidget>
                            </div>
                            <div class="col-4">
                                <app-smallwidget [type]="'volumes'" [container]="this.container" [dataFetched]="this.dataFetched"></app-smallwidget>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-11">
                        <div class="row gx-0 custom-gutter">
                            <div class="col-4">
                                <app-smallwidget [type]="'network'" [container]="this.container" [dataFetched]="this.dataFetched"></app-smallwidget>
                            </div>
                            <div class="col-6">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-11">
                        <div class="row gx-0 custom-gutter">
                            <div class="col-4">
                                <app-smallwidget [type]="'images'" [container]="this.container" [dataFetched]="this.dataFetched"></app-smallwidget>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row gx-0 custom-gutter">
            <div class="col-7">
                <app-chart [chartType]="'NETWORK'" [chartSubj]="chartSubj" [offline]="true"></app-chart>
            </div>
            <div class="col-4">
                <app-chart [chartType]="'DISK'" [chartSubj]="chartSubj" [width]="'100%'" [offline]="true"></app-chart>
            </div>
            .
        </div> -->
    </ng-template>
</ng-template>