<div class="row mh-100">
    <div class="col-md-5 col-lg-5 col-xl-5 col-xxl-4">  
        <div class="row text-start offset-padding">
          <app-chart [chartType]="'CPU'" [chartSubj]="chartSubj"></app-chart>
        </div>
        <div class="row text-start offset-padding">
          <app-chart [chartType]="'MEMORY'" [chartSubj]="chartSubj"></app-chart>
        </div>
       <!--  <div class="row text-start">
          <app-chart [chartType]="'DISK'" [chartSubj]="chartSubj"></app-chart>
        </div> -->
    </div>
    <div class="col-8">
      <div class="row">
        <div class="col-3">
          <div class="row offset-padding">
            <app-smallwidget></app-smallwidget>
          </div>
          <div class="row offset-padding">
            <app-smallwidget></app-smallwidget>
          </div>
          <div class="row offset-padding">
            <app-smallwidget></app-smallwidget>
          </div>
        </div>
        <div class="col-6">
          <div class="row">
            <div class="col-6">
              <div class="row offset-padding">
                <app-smallwidget></app-smallwidget>
              </div>
            </div>
            <div class="col-6">
              <div class="row offset-padding">
                <app-smallwidget></app-smallwidget>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <app-logs></app-logs>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
<div class="row mh-100">
  <div class="col-6">
    <div class="row offset-padding">
      <app-chart [chartType]="'NETWORK'" [chartSubj]="chartSubj"></app-chart>
    </div>
  </div>
  <div class="col-4">
    <div class="row">
      <app-chart [chartType]="'DISK'" [chartSubj]="chartSubj"></app-chart>
    </div>
  </div>
</div>