.top{
    margin-top: 50px;
}

#height{
    height: 100vh;
}

.blur{
    filter: blur(4px);
}

.topStats{
    margin-top: 126px;
}

.margin{
    margin-right: 2rem !important;
}

.custom-gutter > [class*='col-'] {
    padding-right: 2.2rem;
}

.custom-gutter2 > [class*='col-'] {
    padding-right: 2.2rem;
}

.custom-gutter2 > [class*="col-"]:last-child {
    padding-right: 4.3rem;
  }

.custom-gutter > [class*="col-"]:first-child {
  /* padding-left: 1rem; */
}
  
.custom-gutter > [class*="col-"]:last-child {
  /* padding-right: 1rem; */
}


.wrapper{
    padding: 0px !important;
    margin: 0px !important;
    top: 0;
    height: 100vh;
}

.heightContainer{
    height: calc(250px + var(--unitmargin)) !important;
}


.offset-padding{
    padding-right: 10px !important;
}

.offset-margin{
    margin-left: 10px !important;
    margin-right: 10px !important;
}


.logBlock{
    /* margin-bottom: 30px; */
    margin-top: 35px;
    text-align: center !important;
    margin-bottom: 0%;
    height: 520px;
    width: 100%;
    position: relative;
    background-color: #272D3B;
    border-radius: 20px;
    overflow:hidden;
}