<div class="row mh-100">
    <div class="col-md-5 ms-1">  
        <div class="row text-start">
          <app-chart [chartType]="'CPU'" [chartSubj]="chartSubj"></app-chart>
        </div>
        <div class="row text-start">
          <app-chart [chartType]="'MEMORY'" [chartSubj]="chartSubj"></app-chart>
        </div>
        <div class="row text-start">
          <app-chart [chartType]="'DISK'" [chartSubj]="chartSubj"></app-chart>
        </div>
    </div>
    <div class="col-md-5 mx-auto">
        <div class="row heightContainer ">
          <div class="col-md-3 mx-auto my-auto">
            <app-stats></app-stats>
          </div>
          <div class="col-md-3 mx-auto my-auto">
            <app-stats></app-stats>
          </div>
          <div class="col-md-3 mx-auto my-auto">
            <app-stats></app-stats>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <app-logs [logSubj]="logSubj"></app-logs>
          </div>
        </div>
        <!-- <div class="row mt-5">
            <app-stats></app-stats>
        </div>
        <div class="row mt-5">
            <app-stats></app-stats>
        </div> -->
    </div>
</div>