.globalWrapper {
    width: 100% !important;
    height: 415px !important;
    margin-bottom: var(--unitmargin);
}

.wrapper {
    position: relative;
    background-color: #161823;
    height: 70px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    /* margin-bottom: var(--unitmargin); */
}

.wrapper::before {
    z-index: 1000;
    content: "";
    position: absolute;
    height: 108px;
    inset: 0;
    border-radius: 20px;
    padding: 2px;
    background: linear-gradient(90deg, #4757e370, #5b2bdf70);
    -webkit-mask:
        linear-gradient(#fff 0 0) content-box,
        linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
}

.container {
    position: relative;
    top: 10px;
}

.contentContainer {
    position: relative;
    top: 15px;
    margin-left: 15px;
}


.textWrapper {
    position: relative;
    display: inline-block;
}

.headingText {
    color: white !important;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 30px;
    margin-bottom: 1px;
    line-height: 20px;
}

table tbody {}


thead {
    margin-top: -10px;
    height: 38px;
    background: transparent;
}

tbody:before {
    content:"@";
    display:block;
    line-height:1px;
    text-indent:-99999px;
}

tbody{
    --borderColor: #4757e3b6;
    --border: 0px solid;
}

thead tr {
    position: sticky;
    top: 0;
}

thead tr td {
    font-family: 'Rubik', sans-serif;
    font-weight: 300;
    font-size: 16px;
    padding-bottom: 0px;
    color: white;
    padding-left: 12px;
    background-color: #161823;
    width: 200px;
}

thead tr td:first-child {
    padding: auto !important;
    border-bottom-left-radius: 20px;
}


thead tr td:last-child {
    border-bottom-right-radius: 20px;
}


tbody tr td:nth-child(1) {
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: rgb(255, 255, 255);
    max-width: 120px;
}


tbody tr td {
    font-family: 'Rubik', sans-serif;
    font-weight: 300;
    font-size: 16px;
    max-width: 200px;
    word-wrap: break-word;
    /* All browsers since IE 5.5+ */
    overflow-wrap: break-word;
    color: rgba(255, 255, 255, 0.8);
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 12px;
    background-color: #1D1E2E;
    box-shadow: 5px 7px 10px -5px rgba(0, 0, 0, 0.2);
}



tbody tr td:last-child {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.tableWrapper {
    height: 340px;
    overflow: auto;
    scrollbar-width: none;
    position: relative;
}

::-webkit-scrollbar {
    width: 0px;
}

.border {
    background-image: linear-gradient(90deg, #4757e3, #5b2bdf);
    background-origin: border-box;
    /* set background to start from border-box */
    border-spacing: 0px;
    /* space between each cell */
    border: 5px solid transparent;
    /* optional */
    border-radius: 11px;
    -moz-border-radius: 10px;
}



tbody tr td:first-child{
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

tbody tr td:nth-child(1){
    border-top: var(--border);
    border-left: var(--border);
    border-bottom: var(--border);
    border-color: var(--borderColor);
}

tbody tr td:nth-child(2){
    border-top: var(--border);
    border-bottom: var(--border);
    border-color: var(--borderColor);
}

tbody tr td:nth-child(3){
    border-top: var(--border);
    border-bottom: var(--border);
    border-color: var(--borderColor);
}

tbody tr td:nth-child(4){
    border-top: var(--border);
    border-right: var(--border);
    border-bottom: var(--border);
    border-color: var(--borderColor);
}


table {
    margin-top: -10px;
    border-spacing: 0 10px;
    border-collapse: separate;
}

.stateText {
    color: white;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    line-height: 10px;
    font-size: 13px;
}

.state {
    display: flex;
    align-items: center;
    text-align: center;
    background-color: rgb(20, 136, 107);
    width: 100px;
    height: 20px;
    border-radius: 5px;
}

/*NEW CSS*/

.stateText {
    color: #2FDBA7;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    line-height: 10px;
    font-size: 13px;
}