.custom-gutter > [class*='col-'] {
    padding-right: 2.2rem;
}

.custom-gutter > [class*="col-"]:first-child {
  /* padding-left: 1rem; */
}
  
/* .custom-gutter > [class*="col-"]:last-child {
  padding-right: 1.5rem; 
} */

.custom-gutter2 > [class*='col-'] {
  padding-right: 2.2rem;
}

.custom-gutter2 > [class*="col-"]:last-child {
  padding-right: 4.3rem;
}