<div class="row ">
    <div class="col-md-5 top ms-1">  
        <div class="row text-start">
          <app-chart></app-chart>
        </div>
        <div class="row text-start">
          <app-chart></app-chart>
        </div>
        <div class="row text-start">
          <app-chart></app-chart>
        </div>
    </div>
    <div class="col-md-6 my-auto">
        <div class="row">
            <app-stats></app-stats>
        </div>
        <div class="row mt-5">
            <app-stats></app-stats>
        </div>
        <div class="row mt-5">
            <app-stats></app-stats>
        </div>
    </div>
</div>