/* You can add global styles to this file, and also import other style files */
html,
body {
    background-color: var(--background-color);
    /* background-color: #0f152c;
    background-image:
        radial-gradient(at 50% 50%, rgb(22, 19, 66) 0, transparent 59%),
        radial-gradient(at 80% 65%, hsl(263.01, 100%, 10%) 0, transparent 55%),
        radial-gradient(at 20% 65%, hsl(263.01, 100%, 10%) 0, transparent 55%); */
    height: 100%;
    overflow-x: hidden;
}

:root {
    --background-color-backup: #1c1e2c;

    --unitheight: 20vh !important;
    --unitmargin: 2.2rem !important;
    --textheight: 30px;
    --widgetHeight: 190px !important;
    --widgetHeightR: 15.5vh;

    /*Colors*/
    --background-color: #171825 !important;
    --sidebarIconColor: ;
    --graphBgColor: #161823;
    --graphHeadingColor: ;
    --widgetBgColor: #191b29;
    --widgetIconColor: rgb(109, 34, 248);
    --widgetIconBackgroundColor: ;
    --widgetStateColor: ;
    --titleColor: ;

}