<div class="wrapper text-start">
    <div class="container">
        <div class="iconWrapper"></div>
        <div class="textWrapper">
            <p class="headingText">State</p>
            <div class="state d-flex justify-content-center align-middle">
                <span class="stateText">RUNNING</span>
            </div>
        </div>
        <table>
            <tr>
                <td>
                    <span class="firstText">Since</span>
                </td>
                <td class="second">
                    <span class="secondText">2 days ago</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span class="firstText">Restart Policy</span>
                </td>
                <td class="second">
                    <span class="secondText">Always Restart</span>
                </td>
            </tr>
        </table>
    </div>
</div>
